package layouts

templ RootLayout() {
	<html>
		<head>
			<title>App 6</title>
			<link rel="stylesheet" href="/public/generated.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		</head>
		<body class="bg-gray-100">
			{ children... }
		</body>
	</html>
}
